@model IEnumerable<OFGWebApp.Models.OFGHome>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jiraNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applicationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.functionalitiesToImplement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expectedUatDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prodDeploymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pendingInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jiraNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applicationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.functionalitiesToImplement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expectedUatDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prodDeploymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pendingInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
